.header{
  background-color: maroon;
  width: 100%;
  padding:5px;
}
body{
  background-color: lightblue;
  margin: 0;
  padding: 0;
}
.border{
  margin-left: 400px;
  margin-right: 400px;
  border: 2px solid #ad235c;
  margin-top: 150px;
  width: 45%;
  height: 300px;
  border-radius: 15px;
  background-color: gray;
  border-color: gray;
}
#valueone, #valuetwo, #valuethree{
  padding: 10px;
  margin-left: 200px;
}
.button{
  margin-left: 200px;
  padding: 10px;
}
